<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Barcode generator</title>
    <style>
        .container {
            display: flex;
        }
    </style>
</head>
<body>
<div>

    <div class="container">
        <div class="item" th:each="url, ite : ${codes}">
            <img th:src="${url}" alt="">
        </div>
    </div>

</div>
</body>
</html>
